<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kimkim.jsbswp2.member.MemberMapper">
	<insert id="join" parameterType="com.kimkim.jsbswp2.member.Member">
		insert into jsbswp_member values(#{jm_id}, #{jm_pw}, #{jm_name}, #{jm_addr}, #{jm_photo})
	</insert>

	<select id="getMemberByID" 
		resultType="com.kimkim.jsbswp2.member.Member"
		parameterType="com.kimkim.jsbswp2.member.Member">
		select * from jsbswp_member
		where jm_id=#{jm_id}
	</select>
	
	<update id="update" parameterType="com.kimkim.jsbswp2.member.Member">
		update JSBSWP_MEMBER
		set jm_pw=#{jm_pw}, jm_name=#{jm_name}, jm_addr=#{jm_addr}, jm_photo=#{jm_photo}
		where jm_id=#{jm_id}
	</update>
	
	<delete id="bye" parameterType="com.kimkim.jsbswp2.member.Member">
		delete from jsbswp_member where jm_id=#{jm_id}
	</delete>
</mapper>